@model Cart

<div class="">
	@if (Model.Lines.Count() > 0)
	{
		<small class="navbar-text">
			<b>Корзина:</b>
			<b>Товаров: @Model.Lines.Sum(x => x.Quantity)</b>
			<b>На сумму: @Model.ComputeTotalValue().ToString("c")</b>
		</small>
	}
	<a class="btn btn-sm stn-secondary navbar-btn"
	asp-controller="Cart" asp-action="Index"
	asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
		<i class="fa fa-shopping-cart"></i>
	</a>
</div>